* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Oswald-Regular;
    src: url(/Fonts/Oswald-Regular.ttf);
  }

@font-face {
    font-family: Roboto-Mono-Bold;
    src: url(/Fonts/RobotoMono-Bold.ttf);
  }


.background {
    background-image: url("../Assets/Sfondino.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: 10vh;
    align-items: center;
}

.options {
    display: flex;
    transition: all 0.5s ease-in-out;
}


.options ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.options a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: Oswald-Regular;
    transition: all 0.5s ease-in-out;
}

.hamburger-menu{
    cursor: pointer;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hamburger-menu .line{
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}

.hamburger-menu .line:nth-child(1){
    transform: translateY(8px);
}

.hamburger-menu .line:nth-child(3){
    transform: translateY(-8px);
}

.hamburger-menu.active .line:nth-child(1){
    transform: rotate(45deg) translate(8px, 8px);
}

.hamburger-menu.active .line:nth-child(2){
    opacity: 0;
}

.hamburger-menu.active .line:nth-child(3){
    transform: rotate(-45deg) translate(8px, -8px);
}

.animated-menu.active {
    transform: translateX(0);
}

.hidden {
    display: none;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.title h1 {
    font-size: 4.7rem;
    font-family: "Roboto-Mono-Bold", sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    line-height: 74px;
}

/*do lines after and before the title */
.title h1::after {
    content: "";
    display: block;
    width: 80%;
    margin: 34px auto 0 auto;
    height: 5px;
    background-color: #fff;
}

.title h1::before {
    content: "";
    display: block;
    width: 80%;
    height: 5px;
    background-color: #fff;
    margin: 0 auto 34px auto;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 15px 40px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #f5f5f5;
}

.hero-button:active {
    background-color: #e0e0e0;
}



.hero-button a {
    text-decoration: none;
    color: #000;
}

/*media query for mobile*/

@media screen and (max-width: 768px) {
    .title h1 {
        font-size: 2.8rem;
    }

}

    


